<md-dialog>
    <form name="dialog">
        <md-toolbar class="md-brand">
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.questionDialog.type == 'create'" flex="">Create Question</h2>
                <h2 ng-if="vm.questionDialog.type == 'edit'" flex="">Edit Question</h2>
                <md-icon class="fa fa-times" ng-click="vm.questionDialog.close()"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <!--<md-input-container>-->
                    <!--<label>Question ID</label>-->
                    <!--<input type="text" required="" ng-model="vm.questionDialog.data['key']">-->
                <!--</md-input-container>-->
                <md-input-container>
                    <label>Name</label>
                    <input type="text" required="" ng-model="vm.questionDialog.data['text']">
                </md-input-container>
                <md-input-container>
                    <label>Order</label>
                    <input type="number" min="1" step="1" required="" ng-model="vm.questionDialog.data['order']">
                </md-input-container>
                <md-input-container>
                    <label>Question Set</label>
                    <md-select ng-model="vm.questionDialog.data['question_set_id']"
                               required=""
                               class="md-no-underline">
                        <md-option ng-repeat="questionSet in vm.questionSets" value="{{questionSet.id}}">
                            {{questionSet.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Category</label>
                    <md-select ng-model="vm.questionDialog.data['category_id']"
                               class="md-no-underline">
                        <md-option ng-repeat="questionCategory in vm.questionCategories" value="{{questionCategory.id}}">
                            {{questionCategory.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-if="vm.questionDialog.type == 'create'"
                       ng-click="vm.questionDialog.store(vm.questionDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-if="vm.questionDialog.type == 'edit'"
                       ng-click="vm.questionDialog.update(vm.questionDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="vm.questionDialog.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
