<md-content layout="column" layout-fill>
    <md-card class="layout-fill-alt">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">
                    <img style="width: 20px; height: 20px; float: left; margin-right: 10px;" src="img/alert.png">
                    Alerts
                </span>
            </md-card-header-text>
        </md-card-header>
        <md-table-container ng-if="vm.alert">
            <table md-table>
                <tbody md-body>
                <tr md-row ng-repeat="alert in vm.alert">
                    <td md-cell>
                        <div class="alert-diff-for-humans">{{ alert.diff_for_humans }}</div>
                        <div class="alert-assessment-name">
                            {{ alert.assessment.key }} - {{ alert.assessment.name }}
                        </div>
                        <div class="alert-text">{{ alert.text }}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-card-content ng-if="!vm.alert.length">
            <p>There are no alerts.</p>
        </md-card-content>
        <md-card-footer>
            <div layout="row" layout-align="end center">
                <a ui-sref="app.alerts" style="text-decoration: none; text-transform: uppercase">View All</a>
            </div>
        </md-card-footer>
    </md-card>
</md-content>
