<ul>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-accounts">
            Accounts
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-assessments">
            Assessments
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-users">
            Users
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-question-sets">
            Question Sets
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-question-categories">
            Question Categories
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.admin-questions">
            Questions
        </md-button>
    </li>
</ul>
