<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
        <div ng-include="'./views/app/components/reporting/filter/filter-buttons.partial.html'"></div>
    </div>
    <reporting-filter></reporting-filter>
    <div layout="row" layout-wrap="" flex="noshrink">
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Overall Score</div>
                    <highchart config="overallscore"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Freedom of Association</div>
                    <highchart config="freedom"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Communication & Trust</div>
                    <highchart config="communication"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Culture</div>
                    <highchart config="culture"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Discrimination</div>
                    <highchart config="discrimination"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Employee Engagement</div>
                    <highchart config="engagement"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Freely Chosen</div>
                    <highchart config="freelychosen"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Working Hours</div>
                    <highchart config="hours"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Health & Safety Management</div>
                    <highchart config="safety"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Living Wages</div>
                    <highchart config="wages"></highchart>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title">Comporative Metrics</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <div layout="row" layout-wrap="" flex="noshrink">
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Grievances</div>
                    <highchart config="cost_of_grievances"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Mediation</div>
                    <highchart config="cost_of_mediation"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Unauthorised Absence</div>
                    <highchart config="cost_of_unauthorised_absence"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Recruitment</div>
                    <highchart config="cost_of_recruitment"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Training Per Agency Worker</div>
                    <highchart config="cost_of_training_per_agency_worker"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Training Per Employee</div>
                    <highchart config="cost_of_training_per_employee"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Disciplinary Activity</div>
                    <highchart config="cost_of_disciplinary_activity"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Average Unauthorised Absence Days</div>
                    <highchart config="average_unauthorised_absence_days"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Labour Provider Per Worker</div>
                    <highchart config="cost_of_labour_provider_per_worker"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Cost of Unauthorised Absence Per Employee</div>
                    <highchart config="cost_of_unauthorised_absence_per_employee"></highchart>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="50">
            <md-card flex="grow">
                <md-card-content flex="grow">
                    <div>Turnover Rate</div>
                    <highchart config="turnover_rate"></highchart>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!--<div ng-include="'./views/app/pages/footer/footer.page.html'"></div>-->
</md-content>
