.help-component {
  display: flex;
  flex-direction: column;
  .main-content {
    font-size: 13px;
  }
  .md-toolbar-tools {
    max-height: 100%;
    height: auto;
    padding: 20px;
    flex-grow: 1;
  }
  img {
    max-width: 70px;
    margin-right: 30px;
  }
  .green {
    background-color: #AEC232;
  }
  .blue {
    background-color: #73BBDC;
  }
  .orange {
    background-color: #DC9037;
  }
  .dark-blue {
    background-color: #567C8E;
  }
  .turq {
    background-color: #65B29E;
  }
  .md-padding {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    justify-content: flex-end;
  }
  .md-button {
    float: right;
    align-self: flex-end;
  }
}
.margin-match {
  margin: -16px;
}
