<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <div layout="row"
         layout-wrap="" class="margin-match">
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools green">
                        <img src="img/icons/working-conditions-assesment.png" alt="Working Conditions Assessment">
                        <span>Working Conditions Assessment FAQ</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">Want to know more about the RTW Working Conditions Assessment - we've put together an FAQ
                        answering
                        some of the questions you may have, from who should complete it, how long it will take, to the
                        areas
                        of your business it shines a light on.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                               target="_blank"
                               href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Assessment+FAQ.pdf">
                        Download
                    </a>
                </div>
            </section>
        </div>
        <!--<div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools">
                        <span>Supplier's User Guide</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div>The Responsible Trade Worldwide tool enables you to control the whole assessment process from the comfort of your desk, so we’ve put together a step-by-step user guide, sign posting you through each stage of the process — from initial creation of your RTW account, to understanding your final reports.</span>
                <a class="md-button md-raised md-primary"
                       target="_blank"
                       href="asdasdasd">Download</a>
                </div>
            </section>
        </div>-->
        <!--<div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools">
                        <span>Worker's User Guide</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div>We have put together a step-by-step user guide for workers, supporting them to share their thoughts, feelings and views via the Worker Satisfaction Assessment.</span>
                <a class="md-button md-raised md-primary"
                       target="_blank"
                       href="asdasdasd">Download</a>
                </div>
            </section>
        </div>-->
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools blue">
                        <img src="img/icons/assesment-process.png" alt="Working Conditions Assessment">
                        <span>RTW Assessment Process</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">To successfully roll out the RTW Working Conditions Assessment within an organisation, we
                        believe
                        the crucial first step is being clear about what will happen through the process, when and why -
                        so
                        we've taken the time to sign post each stage of the process in a step-by-step guide.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Assessment+Process.pdf">Download</a>
                </div>
            </section>
        </div>
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools orange">
                        <img src="img/icons/engaging-workers.png" alt="Top Tips for Engaging Workers">
                        <span>Top Tips for Engaging Workers</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">We want to ensure that your workforce participate in the RTW Working Conditions Assessment, so
                        we’ve taken the time to put together some best practice top tips to get your workforce engaged.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Assessment+Top+Tips+for+Enagaging+Workforce.pdf">Download</a>
                </div>
            </section>
        </div>
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools dark-blue">
                        <img src="img/icons/worker-rights-fact-sheet.png" alt="Worker rights fact sheet">
                        <span>Worker Rights Fact Sheet</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">It's important to us that your workforce understand their rights as an employee, so we've taken
                        the
                        time to put together a fact sheet outlining their basic rights, and acceptable working
                        conditions
                        within the workplace.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Worker+Rights+Fact+Sheet.pdf">Download</a>
                </div>
            </section>
        </div>
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools turq">
                        <img src="img/icons/worker-poster.png" alt="Worker Poster">
                        <span>Worker Poster — Online</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">To ensure maximum engagement with the workforce it is important that all employees are aware
                        that
                        the assessment is taking place, and between which dates - we've put together a poster to
                        distribute
                        around the workplace, to create a greater awareness of the RTW Working Conditions Assessment.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Assessment+Poster.pdf">Download</a>
                </div>
            </section>
        </div>
        <div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin help-component" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools green">
                        <img src="img/icons/working-conditions-assesment.png" alt="Working Conditions Assessment">
                        <span>Brochure</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div class="main-content">Learn everything you need to know about Responsible Trade Worldwide – who we are, how our
                        Working
                        Conditions Assessment works, and the benefits it can have on your organisation.
                    </div>
                    <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="https://s3-eu-west-1.amazonaws.com/rtw-cyan/toolkit/RTW+Assessment+Brochure.pdf">Download</a>
                </div>
            </section>
        </div>
        <!--<div flex="33" class="md-padding">
            <section class="md-whiteframe-1dp white-back md-margin" style="height: calc(100% - 15px)">
                <md-toolbar class="md-brand">
                    <div class="md-toolbar-tools">
                        <span>YouTube Channel</span>
                    </div>
                </md-toolbar>
                <div class="md-padding">
                    <div>We love sharing our industry knowledge and helping you to be the best organisation you can, so we’ve created a library of useful videos for you to peruse, visit our YouTube channel and take a look.</span>
                <a class="md-button md-raised md-brand md-hollow" style="margin-top: 30px; padding-top: 2px;"
                       target="_blank"
                       href="asdasdasd">Download</a>
                </div>
            </section>
        </div>-->
    </div>
</md-content>
