<md-dialog>
    <form name="optionGroupsForm" ng-submit="vm.save(vm.dialogData)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.dialogData.id" flex>Edit Option Group</h2>
                <h2 ng-if="!vm.dialogData.id" flex>Add Option Group</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container flex>
                    <label>Name</label>
                    <input type="text" ng-model="vm.dialogData.name" name="optionGroupsForm.name" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Max Score</label>
                    <input type="number" ng-model="vm.dialogData.max_score" name="optionGroupsForm.max_score" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <md-button 
              ng-if="vm.dialogData.id" 
              class="md-secondary" 
              type="button" 
              ng-click="vm.remove(vm.dialogData.id)">
                Remove
            </md-button>
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit"
              ng-disabled="!$root.hideViewLoadingCover">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
