<md-dialog>
    <form ng-submit="vm.saveEdit(vm.selectedTranslation)">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Edit-translation-text</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container flex>
                    <label>Text</label>
                    <input type="text" ng-model="vm.selectedTranslation.text">
                </md-input-container>
                <md-input-container flex>
                    <label>Additional Text</label>
                    <input type="text" ng-model="vm.selectedTranslation.additional_text">
                </md-input-container>
             </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
