@import "../../../material/project";

.page-login {
  .main {
    md-content.page-container {
      background-color: #f3f3f3;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 100;
      max-width: 100%;
      padding: 0px;
      overflow-y: scroll;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 24px;
    color: @brandPrimary;
    margin: 0px;
    text-align: center;
    width: 100%;
  }

  .login-wrapper {
    width: calc(~"100% - 30px");
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 170px;
  }

  .login-form {
    background-color: @brandPrimary;
    padding: 0px 20px 50px 20px;
    padding-top: 100px;
  }

  md-card {
    margin-top: -180px;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.15), 0px 10px 35px 0px rgba(0, 0, 0, 0.15), 0px 10px 35px 0px rgba(0, 0, 0, 0.15);
  }

  md-card-title {
    img {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  md-input-container {
    max-width: 320px;
    width: 100%;
    margin: 0px auto;
    display: block;

    label {
      font-size: 16px;
    }
  }

  .md-button span {
    color: @brandPrimary;
  }
}

@media (max-width: @mobile-large-max) {
  .page-login {
    .login-form {
      background-color: #f3f3f3;
      padding: 0px;
      padding-top: 30px;
    }
  }
}
