<md-content layout="row" layout-align="space-between" layout-align-gt-sm="start center">
    <div class="logo" ui-sref="app.dashboard" style="min-width: 400px">
        <img src="img/logo.png">
    </div>
    <div flex="50" class="navigation">
        <a ui-sref="app.dashboard">Dashboard</a>
        <a ui-sref="app.assessments">Assessments</a>
        <a ui-sref="app.connections">Connections</a>
        <a ui-sref="app.reporting-assessments">Reporting</a>
        <a ng-if="$root.user.account.key == 'SOTECH4232' || $root.user.account.key == 'CYANT2281'" ui-sref="app.admin-accounts">Admin</a>
        <a ui-sref="app.help">Help</a>
    </div>
    <div class="user" flex="25" layout="row" layout-align="end center">
        <span flex=""></span>
        <div class="profile" style="background-image: url('img/profile.png')"></div>
        <span class="dark-link">{{$root.user.name}}</span>
        <div class="divider"></div>
        <a class="dark-link" ng-click="$root.logout()">Logout</a>
    </div>
</md-content>
