@import "./angular/material/project";

body.admin .header,
body.user .header {
  position: fixed;
  width: 100%;
  height: unit(@headerHeight, px);
  padding: unit(@bodySpace, px);
  top: 0;
  left: 0;
  background-color: white;
  box-sizing: border-box;
  z-index: 10;
  box-shadow: 0 0 10px 0 #5a5a5a;

  .logo {
    img {
      height: unit(@headerHeight - (@bodySpace * 2), px);
    }
  }

  .navigation {
    a {
      margin-right: 40px;
      color: @darkGrey;
      text-decoration: none;
      display: inline-block;
    }
  }

  .user {
    margin-right: 20px;
    color: #9FA3A8;

    .profile {
      background-size: cover;
      margin-right: 20px;
      border-radius: 100%;
      height: 40px;
      width: 40px;
    }

    a {
      color: #9FA3A8;
    }

    .divider {
      width: 1px;
      margin: 0 20px;
      height: 40px;
      border-right: 1px solid #9FA3A8;
    }
  }

  h1 {
    margin: 0;
    line-height: 80px;
    padding-left: 15px;
    color: #3c3c3b;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
  }

  @media (max-width: @tablet-small-max) {
    .container {
      max-width: 600px;
    }

    .admin-header {
      padding-left: 0;
      height: 50px;
      z-index: 20;
      background-color: @darkGrey;

      .logo img {
        margin: 15px;
        height: 20px;
      }

      .nav-toggle {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        transition: @animate-fast;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        md-icon {
          color: white;
          font-size: 30px;
          width: 50px;
          height: 50px;
          line-height: 48px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .fa-times, .fa-bars {
      transition: @animate-fast;
      position: absolute;
      top: 0;
      left: 0;
    }

    .fa-times {
      opacity: 0;
      visibility: hidden;
    }

    &.nav-open {
      position: relative;

      .fa-times {
        opacity: 1;
        visibility: visible;
      }

      .fa-bars {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
