@import "./angular/material/project";

body.admin .footer,
body.user .footer {
  margin-top: unit(@mdContentPadding, px);
  margin-right: unit(@mdContentPadding, px);
  margin-left: unit(@mdContentPadding, px);
  border-top: 1px solid @lightGrey;
  padding-top: unit(@mdContentPadding, px);
  padding-right: 0;
  padding-left: 0;
  font-size: 12px;
  font-weight: 500;

  a {
    margin-left: 10px;
    color: @grey;
    text-decoration: none;
  }
}
