<md-content class="footer" layout="row" layout-align="space-between" layout-align-gt-sm="start center">
    <span>All Rights Reserved.</span>
    <span flex=""></span>
    <div>
        <span flex=""></span>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Contact</a>
    </div>
</md-content>
