<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title alert-icon">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button class="md-primary md-raised" ng-click="vm.questionSetDialog.create()">
            Add Question Set
        </md-button>
    </div>
    <div class="layout-fill-alt" layout="row">
        <md-card flex="100">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <!--<th md-column>Key</th>-->
                        <th md-column>Name</th>
                        <th md-column width="80px"></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="questionSet in vm.questionSets">
                        <!--<td md-cell>{{questionSet.key}}</td>-->
                        <td md-cell>{{questionSet.name}}</td>
                        <td md-cell>
                            <md-icon ng-click="vm.questionSetDialog.edit(questionSet)"
                                     class="fa"
                                     md-font-icon="fa-pencil"></md-icon>
                            <md-icon ng-click="vm.questionSetDialog.delete(questionSet)"
                                     class="fa"
                                     md-font-icon="fa-times"></md-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
