<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
        <div ng-include="'./views/app/components/reporting/filter/filter-buttons.partial.html'"></div>
    </div>
    <reporting-filter reporting-results="vm.reportingResults"></reporting-filter>
    <div layout="row" layout-wrap="" ng-if="vm.questions" flex="noshrink">
        <div layout="column" flex="100">
            <md-card>
                <md-table-container ng-if="vm.questions">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column width="60%">Area</th>
                            <th md-column width="40%">Score</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row
                                ng-repeat="question in vm.questions"
                                ng-hide="question.is_hidden == true"
                                ng-click="vm.showChildren(question)"
                                ng-class="{'dark' : !question.is_category, 'clickable' : question.level == 1 }">
                                <td md-cell>
                                    <div layout="row" layout-align="start center">
                                        <div>
                                            <div style="padding-left: {{ question.level*40}}px">
                                                <md-icon class="fa"
                                                         md-font-icon="fa-arrow-right"
                                                         ng-show="question.is_category == true && question.is_showing_children == false"></md-icon>
                                                <md-icon class="fa"
                                                         md-font-icon="fa-arrow-down"
                                                         ng-show="question.is_category == true && question.is_showing_children == true"></md-icon>
                                            </div>
                                        </div>
                                        <span>{{ question.text }}</span>
                                    </div>
                                </td>
                                <td md-cell>
                                    <span ng-show="question.is_category == true">
                                        {{ vm.categoryTotals[question.category_id].total / vm.categoryTotals[question.category_id].count| number : 0 }}%
                                    </span>
                                    <span ng-show="!question.is_category">{{ question.total | number : 0 }}%</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot md-foot>
                            <tr md-row>
                                <td md-cell>Total:</td>
                                <td md-cell>{{ vm.total | number : 0 }}%</td>
                            </tr>
                        </tfoot>
                    </table>
                </md-table-container>
            </md-card>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
