<md-content class="layout-fill-alt" layout="column" ng-show="$root.showReportingFilters == true">
    <md-card>
        <md-card-content layout="column">
            <div layout="row">
                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Gender</label>
                        <md-select ng-model="$root.filterForm['gender']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['gender']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Age</label>
                        <md-select ng-model="$root.filterForm['age']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['age']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Shift Type</label>
                        <md-select ng-model="$root.filterForm['shift']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['shift']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Ethnicity</label>
                        <md-select ng-model="$root.filterForm['ethnicity']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['ethnicity']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Job Position</label>
                        <md-select ng-model="$root.filterForm['level']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['level']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Job Role</label>
                        <md-select ng-model="$root.filterForm['role']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['role']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="20" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Job Tenure</label>
                        <md-select ng-model="$root.filterForm['howlong']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['howlong']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="40" class="input-overflow-restrict">
                    <md-input-container>
                        <label>Employment Type</label>
                        <md-select ng-model="$root.filterForm['employsyou']" class="md-no-underline" multiple="true">
                            <md-option ng-repeat="option in vm.filterOptions['employsyou']" value="{{option.id}}">
                                {{option.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>



                <div flex="nogrow" layout="column" layout-align="end end">
                    <div layout="row">
                        <div flex="50">
                            <md-button ng-click="vm.clearFilters()">
                                Clear
                            </md-button>
                        </div>
                        <div flex="50">                  
                            <md-button class="md-raised md-brand" ng-click="$root.getReportData()">
                                Apply
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>
