<md-input-container>
    <label>{{ $root.$localStorage.reporting.assessments.length }} Selected Assessments</label>
    <md-select ng-model="$root.reportingSelectedAssessments"
               class="md-no-underline">
        <md-option ng-if="!$root.$localStorage.reporting.assessments.length">No Selected Assessments</md-option>
        <md-option ng-if="$root.$localStorage.reporting.assessments.length"
                   ng-repeat="assessment in $root.$localStorage.reporting.assessments">
            {{ assessment.account.name }} - {{ assessment.key }} - {{ assessment.name }}
        </md-option>
    </md-select>
</md-input-container>
