<div layout="row" layout-fill="">
    <div layout="column" layout-align="center center" flex="50">
        <img src="img/alert.png" width="80">
    </div>
    <div layout="column" layout-align="center center" flex="50" ng-show="vm.showCharts">
        <span>Alerts</span><br>
        <span class="big-number red">{{ vm.alerts.total }}</span>
    </div>
</div>
