<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
        <div ng-include="'./views/app/components/reporting/filter/filter-buttons.partial.html'"></div>
    </div>
    <reporting-filter></reporting-filter>
    <div layout="row" flex="none">
        <div layout="column" flex="33">
            <div layout="column" flex="50">
                <md-card flex="grow" ui-sref="app.reporting-detail">
                    <md-card-content flex="grow"
                            ng-include="'./views/app/components/reporting/summary/summary-overall-score.partial.html'" ng-href='hello'>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="column" flex="50">
                <md-card flex="grow" ui-sref="app.reporting-alerts">
                    <md-card-content flex="grow"
                            ng-include="'./views/app/components/reporting/summary/summary-alerts.partial.html'">
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow" ui-sref="app.reporting-detail">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/summary/summary-lowest-scoring-categories.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow" ui-sref="app.reporting-demographics">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/summary/summary-worker-ethnicities.partial.html'">
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
