<div layout="row" layout-fill="">
    <div layout="column" layout-align="center center" flex="50">
        <img src="img/reporting/colour-wheel.png" width="80">
    </div>
    <div layout="column" layout-align="center center" flex="50" ng-show="vm.showCharts">
        <span>Overall Score</span><br>
        <span class="big-number green">{{ vm.scores.total }}%</span>
    </div>
</div>
