<md-dialog>
    <form name="optionsForm" ng-submit="vm.saveEdit(vm.selectedQuestionSets)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 flex>Add Question Set</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container flex>
                    <label>Key</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.key" name="optionsForm.key" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Name</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.name" name="optionsForm.name" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Type</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.type" name="optionsForm.type" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Welcome Text</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.welcome_text" name="optionsForm.welcome_text" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Intro Text</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.intro_text" name="optionsForm.intro_text" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Finish Text</label>
                    <input type="text" ng-model="vm.selectedQuestionSets.finished_text" name="optionsForm.finished_text" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit"">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
