<md-dialog class="take-test">
    <md-icon class="fa fa-times circle" ng-click="vm.hide()">
    </md-icon>
    <form ng-submit="vm.save()">
        <md-dialog-content>
            <div class="md-dialog-content">
                <img src="img/apple-macbook.png">
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex md-no-float>
                        <input type="text" ng-model="vm.form.first_name" placeholder="first name:" required>
                    </md-input-container>
                    <span style="width:30px;" flex="none" hide-xs hide-sm></span>
                    <md-input-container flex md-no-float>
                        <input type="text" ng-model="vm.form.last_name" placeholder="last name:" required>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex md-no-float>
                        <input type="email" ng-model="vm.form.email" placeholder="email:" required>
                    </md-input-container>
                    <span style="width:30px;" flex="none" hide-xs hide-sm></span>
                    <md-input-container flex md-no-float>
                        <input type="tel" ng-model="vm.form.telephone" placeholder="telephone:" required>
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-input-container>
                        <md-select ng-model="vm.form.location" placeholder="location">
                            <md-option ng-value="country.name" ng-repeat="country in vm.countries.data">
                                {{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
             </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised" type="submit" flex="100">
                TAKE THE TEST
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
