@import "./angular/material/project";

aside.sidebar {
  margin-top: unit(@headerHeight, px);
  position: fixed;
  width: 220px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: @darkGrey;
  box-sizing: border-box;
  z-index: 11;

  ul {
    padding-left: 0;
    margin-top: 0;

    li:hover, li.current-view {
      & > a {
        color: white;

        i {
          color: @brandPrimary;
        }
      }
    }

    a {
      text-decoration: none;
      height: 50px;
      padding: 0 15px;
      display: block;
      text-align: left;
      margin: 0;
      line-height: 50px;
      color: #999999;
    }

    md-icon {
      font-size: 14px !important;
      width: 25px;
      transition: @animate-fast;
      color: @brandPrimary;
      line-height: 20px;
    }
  }
}
