body {
  font-family: @bodyFontColor;
  font-weight: @bodyFontWeight;
  font-size: @bodyFontSize;
  background-color: @grey;
}

h1, h2, h3, h4, h5, h6 {
  color: @titleFontColor;
  font-family: @titleFont;
}

h1 {
  font-size: @titleFontSize;
  line-height: @titleFontSize;
  text-transform: uppercase;
}

h1.brand-primary {
  color: @brandPrimaryColor;
}

h2 {
  font-family: @subTitleFont;
  font-size: @titleFontSize - 3;
  font-weight: bold;
  line-height: @titleFontSize - 3;
  color: @brandSecondaryColor;
}

p, .label {
  font-family: @bodyFont;
  font-weight: @bodyFontWeight;
  font-size: @bodyFontSize;
  color: @bodyFontColor;
  line-height: @bodyFontSize + 3;
}

.btn.btn-brand-primary {
  background: @brandPrimaryColor;
  color: #fff;
}
