@bodyFontColor: #000000;

@brandPrimaryColor: #a9c711;
@brandSecondaryColor: #B5B5B7;

@bodyFont: ~"'Lato', Arial, sans-serif";
@bodyFontSize: 15px;
@bodyFontWeight: 300;

@titleFont: ~"'din-condensed-web', Arial, sans-serif";
@titleFontSize: 28px;
@titleFontColor: #2e2e2e;
@titleFontWeight: normal;

@subTitleFont: ~"'Helvetica', Arial, sans-serif";

@grey: #f1f2f7;

//material-sizes
@tablet-large-max: 1170px;
@tablet-small-max: 960px;
@mobile-large-max: 600px;
@mobile-small-max: 480px;

//bootstrap-sizes
@screen-max-laptop: 1200px;
@screen-max-tablet: 992px;
@screen-max-mobile: 767px;
