<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <h1 class="page-title user-account-wrapper">
            Your Account ID: {{$root.user.account.key}}
        </h1>
        <span flex="5"></span>
        <div flex="nogrow">
            <md-button class="md-raised md-brand"
                       ng-if="vm.showAddConnection == false"
                       ng-click="vm.showAddConnection = true">
                New Connection Request
            </md-button>
            <md-button class="md-raised md-error"
                       ng-if="vm.showAddConnection == true"
                       ng-click="vm.showAddConnection = false">
                Cancel
            </md-button>
        </div>
    </div>
    <div layout="column" class="layout-fill-alt">
        <connections-add flex="nogrow" show-add-connection="vm.showAddConnection"></connections-add>
        <md-content layout="column" flex="grow">
            <md-card class="layout-fill-alt">
                <md-button class="side-margin md-raised"
                           ng-if="!vm.receivedConnections.length && !vm.sentConnections.length">
                    You have no connections yet
                </md-button>
                <md-table-container ng-if="vm.receivedConnections.length || vm.sentConnections.length">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Company</th>
                            <th md-column>Status</th>
                            <th md-column>Inbound / Outbound</th>
                            <th md-column>Requested</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-include="'./views/app/components/connections/table-row.partial.html'"
                            ng-repeat="connection in vm.receivedConnections"></tr>
                        <tr md-row
                            ng-include="'./views/app/components/connections/table-row.partial.html'"
                            ng-repeat="connection in vm.sentConnections"></tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </md-content>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
