<td md-cell>
    <span ng-if="connection.direction == 'received'">{{connection.requester.key}} - {{connection.requester.name}}</span>
    <span ng-if="connection.direction == 'sent'">{{connection.requestee.key}} - {{connection.requestee.name}}</span>
</td>
<td md-cell>
    <div ng-if="connection.direction == 'sent'">
        <div ng-if="connection.status == 'accepted'">
            <md-button class="md-raised md-hollow md-brand">Connected</md-button>
            <md-button class="md-raised md-hollow md-error"
                       ng-click="vm.deleteConnection(connection.id)">
                Delete
            </md-button>
        </div>
        <div ng-if="connection.status == 'rejected'">
            <md-button class="md-raised md-hollow md-error">Rejected</md-button>
        </div>
        <div ng-if="connection.status == 'requested'">
            <md-button class="md-raised md-hollow md-warning">Pending</md-button>
        </div>
    </div>
    <div ng-if="connection.direction == 'received'">
        <div ng-if="connection.status == 'accepted'">
            <md-button class="md-raised md-hollow md-brand">Connected</md-button>
            <md-button class="md-raised md-hollow md-error"
                       ng-click="vm.deleteConnection(connection.id)">
                Delete
            </md-button>
        </div>
        <div ng-if="connection.status == 'requested'">
            <md-button class="md-raised md-brand"
                       ng-click="vm.acceptConnectionRequest(connection.id)">
                Accept
            </md-button>
            <md-button class="md-raised md-hollow md-error"
                       ng-click="vm.rejectConnectionRequest(connection.id)">
                Delete
            </md-button>
        </div>
    </div>
</td>
<td md-cell>
    <span ng-if="connection.direction == 'received'">
        <md-tooltip md-direction="top">
            Other accounts can see your assessments but you cannot see theirs
        </md-tooltip>
        Inbound
    </span>
    <span ng-if="connection.direction == 'sent'">
        <md-tooltip md-direction="top">
            You can see this accounts assessments but they cannot see yours
        </md-tooltip>
        Outbound
    </span>
</td>
<td md-cell>
    <span>
        <md-tooltip md-direction="top">
            {{connection.created_at}}
        </md-tooltip>
        {{connection.created_at | amTimeAgo | ucfirst}}
    </span>
</td>
