<md-content class="page-container">
    <div class="ResetPassword-formContainer" layout="column" layout-align="center center">

        <h1 class="md-headline">Reset Password</h1>

        <reset-password></reset-password>

    </div>
</md-content>
