<form name="loginForm" ng-submit="vm.login()" class="login-form">
	<md-card>
		<md-card-title layout="column">
			<img src="img/logo.png">
		</md-card-title>
		<md-card-content>
			<div>
				<md-input-container>
					<input type="username" required name="username" ng-model="vm.user.email" placeholder="Email" >
					<div ng-messages="loginForm.email.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<input type="password" required name="password" ng-model="vm.user.password" placeholder="Password">
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required">This is required.</div>
					</div>
				</md-input-container>
			</div>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-button" type="submit">SIGN IN</md-button>
		</md-card-actions>
	</md-card>
</form>
