<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="none">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
        <div ng-include="'./views/app/components/reporting/filter/filter-buttons.partial.html'"></div>
    </div>
    <reporting-filter></reporting-filter>
    <div layout="row" flex="none">
        <div layout="column" flex="100">
            <md-card flex="grow" ui-sref="app.reporting-detail">
                <md-card-content flex="grow">
                    <div>Benchmark</div>
                    <highchart config="benchmark"></highchart>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
