<md-card>
    <form ng-submit="vm.sendSearch(vm.search.form)">
        <md-card-content layout="row">
            <div layout="row" flex="grow">
                <div flex="25" layout="row" layout-align="start center">
                    <span class="assessment-search-font">Assessment ID</span>
                    <span flex="5"></span>
                    <md-input-container class="small-input bordered" style="margin-top: 0; margin-bottom: 0; width: 50%;">
                        <input aria-label="Assessment ID"
                               ng-model="vm.search.form['filters']['assessment_key']">
                    </md-input-container>
                </div>
                <div flex="25" layout="row" layout-align="start center">
                    <span class="assessment-search-font">Start Date</span>
                    <md-datepicker ng-model="vm.search.form['filters']['start_date']"></md-datepicker>
                </div>
                <div flex="25" layout="row" layout-align="start center">
                    <span class="assessment-search-font">End Date</span>
                    <md-datepicker ng-model="vm.search.form['filters']['end_date']"></md-datepicker>
                </div>
                <div flex="25" layout="row" layout-align="start center">
                    <span class="assessment-search-font">Company</span>
                    <span flex="5"></span>
                    <md-select class="small-input"
                               ng-model="vm.search.form['filters']['account_id']"
                               flex="grow"
                               style="height: 16px; margin-top: -14px; margin-bottom: 0">
                        <md-option value="">All Companies</md-option>
                        <md-option ng-repeat="account in vm.connectedAccounts"
                                   value="{{ account.id }}">
                            {{ account.name }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <span flex="5"></span>
            <md-button class="md-raised md-brand" type="submit" style="margin: 0">
                Search
            </md-button>
        </md-card-content>
    </form>
</md-card>
