<md-dialog>
    <form name="dialog">
        <md-toolbar class="md-brand">
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.questionSetDialog.type == 'create'" flex="">Create Question Set</h2>
                <h2 ng-if="vm.questionSetDialog.type == 'edit'" flex="">Edit Question Set</h2>
                <md-icon class="fa fa-times" ng-click="vm.questionSetDialog.close()"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <!--<md-input-container>-->
                    <!--<label>Key</label>-->
                    <!--<input type="text" required="" ng-model="vm.questionSetDialog.data['key']">-->
                <!--</md-input-container>-->
                <md-input-container>
                    <label>Name</label>
                    <input type="text" required="" ng-model="vm.questionSetDialog.data['name']">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-if="vm.questionSetDialog.type == 'create'"
                       ng-click="vm.questionSetDialog.store(vm.questionSetDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-if="vm.questionSetDialog.type == 'edit'"
                       ng-click="vm.questionSetDialog.update(vm.questionSetDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="vm.questionSetDialog.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
