<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title alert-icon">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button class="md-primary md-raised" ng-click="vm.assessmentDialog.create()">
            Add Assessment
        </md-button>
    </div>
    <div class="layout-fill-alt" layout="row">
        <md-card flex="100">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>Assessment ID</th>
                        <th md-column>Company Name</th>
                        <th md-column>Start Date</th>
                        <th md-column>End Date</th>
                        <th md-column>Created At</th>
                        <th md-column width="80px"></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="assessment in vm.assessments">
                        <td md-cell>{{assessment.key}}</td>
                        <td md-cell>{{assessment.account.name}}</td>
                        <td md-cell>{{assessment.start_date | date:'dd-MM-yyyy' }}</td>
                        <td md-cell>{{assessment.end_date | date:'dd-MM-yyyy' }}</td>
                        <td md-cell>{{assessment.created_at | amDateFormat : 'DD-MM-YYYY'}}</td>
                        <td md-cell>
                            <md-icon ng-click="vm.assessmentDialog.edit(assessment)" class="fa" md-font-icon="fa-pencil"></md-icon>
                            <md-icon ng-click="vm.assessmentDialog.delete(assessment)" class="fa" md-font-icon="fa-times"></md-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
