<md-dialog>
    <form name="dialog">
        <md-toolbar class="md-brand">
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.assessmentDialog.type == 'create'" flex="">Create Assessment</h2>
                <h2 ng-if="vm.assessmentDialog.type == 'edit'" flex="">Edit Assessment</h2>
                <md-icon class="fa fa-times" ng-click="vm.assessmentDialog.close()"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Assessment ID</label>
                    <input type="text" required="" ng-model="vm.assessmentDialog.data['key']">
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input type="text" required="" ng-model="vm.assessmentDialog.data['name']">
                </md-input-container>
                <md-input-container>
                    <label>Account</label>
                    <md-select ng-model="vm.assessmentDialog.data['account_id']"
                               required=""
                               class="md-no-underline">
                        <md-option ng-repeat="account in vm.accounts" value="{{account.id}}">
                            {{account.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Question Set</label>
                    <md-select ng-model="vm.assessmentDialog.data['question_set_id']"
                               required=""
                               class="md-no-underline">
                        <md-option ng-repeat="questionSet in vm.questionSets" value="{{questionSet.id}}">
                            {{questionSet.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout-gt-xs="row">
                    <div flex-gt-xs>
                        <h4>Start Date</h4>
                        <md-datepicker ng-model="vm.assessmentDialog.data['start_date']"
                                       required=""
                                       md-placeholder="Start Date"></md-datepicker>
                    </div>
                    <div flex-gt-xs>
                        <h4>End Date</h4>
                        <md-datepicker ng-model="vm.assessmentDialog.data['end_date']"
                                       required=""
                                       md-placeholder="End Date"></md-datepicker>
                    </div>
                </div>
                <md-input-container>
                    <label>Worker Count</label>
                    <input type="number"
                           required=""
                           step="1"
                           min="1"
                           max="1000"
                           ng-model="vm.assessmentDialog.data['worker_count']">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-if="vm.assessmentDialog.type == 'create'"
                       ng-click="vm.assessmentDialog.store(vm.assessmentDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-if="vm.assessmentDialog.type == 'edit'"
                       ng-click="vm.assessmentDialog.update(vm.assessmentDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="vm.assessmentDialog.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
