<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
    </div>
    <assessments-search assessments="vm.assessments" reporting="true"></assessments-search>
    <md-card class="layout-fill-alt">
        <md-button class="side-margin md-raised md-error"
                   ng-if="!vm.assessments.length">
            No assessments found
        </md-button>
        <md-table-container ng-if="vm.assessments.length">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column width="150">Assessment ID</th>
                    <th md-column>Assessment Name</th>
                    <th md-column>Company Name</th>
                    <th md-column>Start Date</th>
                    <th md-column>End Date</th>
                    <th md-column>Add to Report</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="assessment in vm.assessments"
                    ui-sref="app.assessments-assessment({assessmentID: assessment.id})">
                    <td md-cell>{{assessment.key}}</td>
                    <td md-cell>{{assessment.name}}</td>
                    <td md-cell>{{assessment.account.name}}</td>
                    <td md-cell>{{assessment.start_date | date:'dd-MM-yyyy' }}</td>
                    <td md-cell>{{assessment.end_date | date:'dd-MM-yyyy' }}</td>
                    <td md-cell>
                        <md-icon ng-if="vm.reportingAssessmentIsSelected(assessment) == -1"
                                 ng-click="vm.toggleReportingAssessment(assessment); $event.stopPropagation();"
                                 class="fa fa-2x"
                                 md-font-icon="fa-plus-circle"></md-icon>
                        <md-icon ng-if="vm.reportingAssessmentIsSelected(assessment) > -1"
                                 ng-click="vm.toggleReportingAssessment(assessment); $event.stopPropagation();"
                                 class="fa fa-2x"
                                 md-font-icon="fa-check"></md-icon>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr md-row>
                    <td md-cell colspan="6" style="text-align: right;"
                        ng-if="$root.$localStorage.reporting.assessments.length">
                        <div layout="row" layout-align="end start">
                            <md-button class="md-raised md-brand" ng-click="vm.downloadPDF()">
                                Download PDF
                            </md-button>
                            <span style="width: 10px"></span>
                            <a ui-sref="app.reporting-summary">
                                <md-button class="md-raised md-brand" type="submit">
                                    View Report
                                </md-button>
                            </a>
                        </div>
                    </td>
                </tfoot>
            </table>
        </md-table-container>
    </md-card>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
