<md-content layout="column" class="layout-fill-alt" ng-if="vm.showAddConnection == true">
    <md-card class="layout-fill-alt">
        <form ng-submit="vm.submitNewConnectionRequest(vm.newConnectionRequest.form)">
            <md-card-content layout="row">
                <md-input-container class="md-input-has-placeholder"
                                    style="height: 16px; width: 300px;">
                    <label>Please enter the Account ID</label>
                    <input required
                           aria-label="Account ID"
                           ng-model="vm.newConnectionRequest.form['account_key']">
                </md-input-container>
                <span flex=""></span>
                <md-button class="md-raised md-brand"
                           type="submit">
                    Request
                </md-button>
            </md-card-content>
        </form>
    </md-card>
</md-content>
