<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <div layout="row" class="layout-fill-alt">
        <div flex="66">
            <dashboard-assessments layout="column" layout-fill></dashboard-assessments>
        </div>
        <div flex="33">
            <dashboard-alerts layout="column" layout-fill></dashboard-alerts>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
