<div layout="row" layout-align="start center">
    <div class="progress-bar" flex="70">
        <div class="fill"
             ng-style="{'width': vm.percentage + '%'}"></div>
    </div>
    <span flex="10"></span>
    <span flex="20">
        {{vm.percentage}}%
    </span>
</div>
