<md-dialog>
    <form name="optionsForm" ng-submit="vm.save(vm.dialogData)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.dialogData.id" flex>Edit Question</h2>
                <h2 ng-if="!vm.dialogData.id" flex>Add Question</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container>
                    <label>Option Group</label>
                    <md-select ng-model="vm.dialogData.group_id" name="optionsForm.optionsGroups" required>
                        <md-option ng-repeat="group in vm.option_groups" value="{{group.id}}">
                            {{group.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Text</label>
                    <input type="text" ng-model="vm.dialogData.text" name="optionsForm.text" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Value (leave empty for N/A)</label>
                    <input type="number" ng-model="vm.dialogData.value" name="optionsForm.value">
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <md-button 
              ng-if="vm.dialogData.id" 
              class="md-secondary" 
              type="button" 
              ng-click="vm.remove(vm.dialogData.id)">
                Remove
            </md-button>
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit"
              ng-disabled="!$root.hideViewLoadingCover">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
