<md-content class="md-padding">
	<md-table-container ng-if="vm.results.paginate.data">
	  	<table md-table md-progress="promise">
		    <thead md-head>
		    	<tr md-row>
		        	<th md-column><span>Name</span></th>
		        	<th md-column><span>Company</span></th>
		        	<th md-column><span>Email</span></th>
		        	<th md-column><span>Location</span></th>
		        	<th md-column><span>Staff</span></th>
		        	<th md-column><span>Client Base</span></th>
		        	<th md-column><span>Turnover</span></th>
		        	<th md-column><span>Date</span></th>
		        	<th md-column md-numeric class="center-column"><span>Total</span></th>
		    	</tr>
		    </thead>
		    <tbody md-body>
		      	<tr md-row ng-repeat="result in vm.results.paginate.data" ng-click="vm.view(result.id)" class="clickable">
		        	<td md-cell>
		        		{{result.full_name}}
		        	</td>
		        	<td md-cell>
		        		{{result.company_name}}
		        	</td>
		        	<td md-cell>
		        		{{result.email}}
		        	</td>
		        	<td md-cell>
		        		{{result.location}}
		        	</td>
		        	<td md-cell>
		        		{{result.staff}}
		        	</td>
		        	<td md-cell>
		        		{{result.client_base}}
		        	</td>
		        	<td md-cell>
		        		{{result.turnover}}
		        	</td>
		        	<td md-cell>
		        		{{result.created_at | amDateFormat:'LL'}}
		        	</td>
		        	<td md-cell class="center-column">
		        		<span ng-if="result.max_people">
		        			{{result.score_total}} ({{vm.percentageScore(result.score_total, result.max_total) | number:0}}%)
		        		</span>
		        		<span ng-if="!result.max_people">
		        			Incomplete
		        		</span>
		        	</td>
		      	</tr>
		    </tbody>
	  	</table>
	</md-table-container>
	<data-md-table-pagination 
		md-limit="vm.results.paginate.per_page" 
		md-page="vm.results.paginate.current_page" 
		md-total="{{vm.results.paginate.total}}" 
        md-on-paginate="vm.results.get"
        md-page-select
		md-boundary-links
		ng-if="vm.results.paginate.data">
	</data-md-table-pagination>
	<md-toolbar ng-if="!vm.results.paginate.data" layout="row" layout-align="center center">
		<div flex="none">There are no results yet</div>
	</md-toolbar>
</md-content>