<md-dialog>
    <form ng-submit="vm.saveEdit(vm.selectedTranslation)">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Edit-translation-text</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container flex>
                    <label>Welcome Text</label>
                    <input type="text" ng-model="vm.selectedTranslation.welcome_text">
                </md-input-container>
                <md-input-container flex>
                    <label>Intro Text</label>
                    <input type="text" ng-model="vm.selectedTranslation.intro_text">
                </md-input-container>
                <md-input-container flex>
                    <label>Finished Text</label>
                    <input type="text" ng-model="vm.selectedTranslation.finished_text">
                </md-input-container>
             </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
