<md-content layout="column" layout-fill>
    <md-card class="layout-fill-alt">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Live/Recent Assessments</span>
            </md-card-header-text>
        </md-card-header>
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column width="130">Assessment ID</th>
                    <th md-column>Assessment Name</th>
                    <th md-column>Company Name</th>
                    <th md-column>Status</th>
                    <th md-column width="200">Progress</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="assessment in vm.connection"
                    ui-sref="app.assessments-assessment({assessmentID: assessment.id})">
                    <td md-cell>{{assessment.key}}</td>
                    <td md-cell>{{assessment.name}}</td>
                    <td md-cell>{{assessment.account.name}}</td>
                    <td md-cell>
                        <span ng-if="assessment.days_until_count && assessment.days_remaining_count">Starts in {{assessment.days_until_count}} days</span>
                        <span ng-if="assessment.days_remaining_count && ssessment.days_remaining_count!=1 && !assessment.days_until_count">Ends in {{assessment.days_remaining_count}} days</span>
                        <span ng-if="assessment.days_remaining_count && ssessment.days_remaining_count==1 && !assessment.days_until_count">Ends today</span>
                        <span ng-if="!assessment.days_until_count && !assessment.days_remaining_count"
                              class="text-muted">Assessment ended</span>
                    </td>
                    <td md-cell>
                        <div layout="row" layout-align="start center">
                            <div class="progress-bar" flex="70">
                                <div class="fill"
                                     ng-style="{'width': (assessment.completed_count / assessment.worker_count * 100) + '%'}"></div>
                            </div>
                            <span flex="10"></span>
                            <span flex="20">
                                {{assessment.completed_count / assessment.worker_count * 100 | number : 0}}%
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
</md-content>
