
.main-content{
	background-color: white;
	margin: 15px;
	padding: 15px;

	.flags a {
		text-decoration: none;
	}

	.flags img {
		position: relative;
		margin-top: 20px;
		margin-bottom: 5px;
		width: 80%;
		height: auto;
		border: 1px solid #999;
		//border: 1px solid;
		//box-shadow: 0 10px 6px -6px #777;
		transition: 5s;
	}

	.flags img:hover {
		transition: 5s;
		top: -5px;
	}
}

.intro-text {
	line-height: 1;
}

.demographics {

	form {
		margin: 0px auto 20px auto;
		max-width: 650px;

		label {
			font-weight: 300;
		}

		.form-group {
			margin-bottom: 0px;
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.btn-submit {
			margin-top: 15px;
		}
	}

}

.questions {

	.question {
		display: none;

		.question-text{
			padding: 25px 0 8px 0;
			font-size: @bodyFontSize + 2;
			font-weight: 500;
		}

		.form-group {
			margin-bottom: 0px;
			padding-bottom: 15px;
		}

		label {
			margin-right: 20px;
			font-weight: @bodyFontWeight;
			
		}

	}

	.active {
		display: block;
	}

	.next-btn {
		margin-top: 30px;
	}
}

.additional {

		.additional-text{
			padding: 25px 0 8px 0;
			font-size: @bodyFontSize + 2;
			font-weight: 500;
		}

		.form-group {
			margin-bottom: 0px;
			padding-bottom: 15px;
		}

		textarea {
			margin-top: 20px;
		}

	.next-btn {
		margin-top: 30px;
	}
}

.complete {
	.end-btn {
		margin-top: 40px;
	}
}


.loader{
	display: none;

	img{
		height: 40px;
	}
}

.btn-popover{
	cursor: pointer;
}


body.results-complete{

	
}