
.footer{
	background-color:#3C3C3B;
	color:white !important;
	height:60px;
	padding:10px 0;
    position: relative;
    overflow: hidden;

	.container, .row{
		height:100%;
	}

	.copyright{
		line-height:40px;

		a{
			color:white;
		}
	}
}

