.header{
    width:100%;
    padding: 20px;
    background-color: white;

    .logo-container{

    	width: 280px;
    	margin: 0 auto;

    }

    .logo{
    	width: 280px;
    	height: auto;
    }
    
}