body.user.reporting.alerts {
  .dark {
    background: rgb(242, 242, 242);
  }
  .fa-arrow-down, .fa-arrow-right {
    color: #a7c410;
  }
  .alert-icon {
    display: flex;
    align-items: center;
    img {
      max-width: 30px;
      margin-left: 10px;
    }
  }
}
