<md-card flex="grow">
    <md-card-content flex="grow" layout="column">
        <div layout="row" flex="grow" ng-if="vm.metrics[params.key][0].show_description == false">
            <div flex="30">
                <img ng-src="{{ 'img/reporting/' + params.key + '.png' }}" width="100%">
            </div>
            <span flex="10"></span>
            <div flex="60" layout="column">
                <span>{{ params.name }}</span>
                <span style="padding-top: 10px; padding-bottom: 10px" class="text-muted small">Your Organisation</span>
                <span class="{{params.colour}} large">
                    <span ng-if="params.type == 'pounds'">&pound;</span>
                    <span>
                        <span ng-if="params.type == 'pounds'">{{ vm.metrics[params.key][0].total | number : 0 }}</span>
                        <span ng-if="params.type == 'days'">{{ vm.metrics[params.key][0].total | number : 2 }}</span>
                        <span ng-if="params.type == 'percentage'">{{ vm.metrics[params.key][0].total | number : 2 }}</span>
                    </span>
                    <span ng-if="params.type == 'percentage'">&percnt;</span>
                </span>
                <span class="text-muted small" style="padding-top: 10px; padding-bottom: 10px">Industry Average (UK)</span>
                <div ng-if="vm.metrics[params.key][0].average > 0" layout="column">
                    <span class="{{params.colour}}">
                        <span ng-if="params.type == 'pounds'">&pound;</span>
                        <span>
                            <span ng-if="params.type == 'pounds'">{{ vm.metrics[params.key][0].average | number : 2 }}</span>
                            <span ng-if="params.type == 'days'">{{ vm.metrics[params.key][0].average | number : 2 }}</span>
                            <span ng-if="params.type == 'percentage'">{{ vm.metrics[params.key][0].average | number : 2 }}</span>
                        </span>
                        <span ng-if="params.type == 'percentage'">&percnt;</span>
                        <span ng-if="params.afterAverageText" class="afterAverageText">{{ params.afterAverageText }}</span>
                    </span>
                </div>
                <div ng-if="vm.metrics[params.key][0].average == 0">
                    <span class="small">Data Not Available</span>
                </div>
                <span flex=""></span>
                <div layout="row" ng-if="vm.metrics[params.key][0].description">
                    <span flex=""></span>
                    <md-icon class="fa" md-font-icon="fa-info-circle" ng-click="vm.metrics[params.key][0].show_description = true"></md-icon>
                </div>
            </div>
        </div>
        <div flex="grow" ng-if="vm.metrics[params.key][0].show_description == true" layout="column">
            <p>{{ vm.metrics[params.key][0].description }}</p>
            <span flex=""></span>
            <div layout="row">
                <span flex=""></span>
                <md-icon class="fa" md-font-icon="fa-times" ng-click="vm.metrics[params.key][0].show_description = false"></md-icon>
            </div>
        </div>
    </md-card-content>
</md-card>
