<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
    </div>
    <md-button class="side-margin md-raised" ng-if="!vm.metrics">
        There are no completed employer assessments in this filter set
    </md-button>
    <div layout="row" layout-wrap="" ng-if="vm.metrics" flex="noshrink">
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Grievance', key: 'cost_of_grievances', colour: 'red', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Mediation', key: 'cost_of_mediation', colour: 'red', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Disciplinary Activity', key: 'cost_of_disciplinary_activity', colour: 'teal', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Recruitment', key: 'cost_of_recruitment', colour: 'yellow', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Training Costs: Per Employee', key: 'cost_of_training_per_employee', colour: 'red', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Training Costs: Per Agency Worker', key: 'cost_of_training_per_agency_worker', colour: 'blue', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Labour Provider Per Worker', key: 'cost_of_labour_provider_per_worker', colour: 'purple', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25" ng-repeat="params in [{name: 'Turnover Rate', key: 'turnover_rate', colour: 'teal', type: 'percentage'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25" ng-repeat="params in [{name: 'Unauthorised Absence: No of Days Per Employee', key: 'average_unauthorised_absence_days', colour: 'yellow', 'type': 'days'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Total Cost of Unauthorised Absence', key: 'cost_of_unauthorised_absence', colour: 'purple', type: 'pounds', afterAverageText: ' per employee. Total dependent on size of workforce'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
        <div layout="column"
             flex="25"
             ng-repeat="params in [{name: 'Cost of Unauthorised Absence Per Employee', key: 'cost_of_unauthorised_absence_per_employee', colour: 'purple', type: 'pounds'}]"
             ng-include="'./views/app/components/reporting/metrics/metrics-card.partial.html'"></div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
