body.user.reporting.metrics {
  .large {
    font-size: 30px;
  }
  .small {
    font-size: 12px;
  }
  .purple {
    color: rgb(171, 115, 192);
  }
  .red {
    color: rgb(234, 101, 85);
  }
  .teal {
    color: rgb(64, 181, 165);
  }
  .purple {
    color: rgb(53, 125, 169);
  }
  .yellow {
    color: rgb(170, 197, 43);
  }
  .blue {
    color: rgb(67, 194, 210);
  }
  .afterAverageText {
    font-size: 11px;  
  }
}
