<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <div layout="row" class="layout-fill-alt">
        <div flex="100">
            <assessments-assessment-detail assessment="vm.assessment"></assessments-assessment-detail>
            <assessments-assessment-parts assessment="vm.assessment"></assessments-assessment-parts>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
