<md-dialog>
    <form name="optionsForm" ng-submit="vm.saveOption(vm.dialogData.question_option)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 flex>Add Question Set</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container flex>
                    <label>Option</label>
                    <input type="text" ng-model="vm.dialogData.question_option.option" name="optionsForm.option" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Score</label>
                    <input type="number" ng-model="vm.dialogData.question_option.score" name="optionsForm.score" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Order</label>
                    <input type="text" ng-model="vm.dialogData.question_option.order" name="optionsForm.order" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit"">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
