<md-dialog>
    <form name="dialog">
        <md-toolbar class="md-brand">
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.accountDialog.type == 'create'" flex="">Create Account</h2>
                <h2 ng-if="vm.accountDialog.type == 'edit'" flex="">Edit Account</h2>
                <md-icon class="fa fa-times" ng-click="vm.accountDialog.close()"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Account ID</label>
                    <input type="text" required="" ng-model="vm.accountDialog.data['key']">
                </md-input-container>
                <md-input-container>
                    <label>Company Name</label>
                    <input type="text" required="" ng-model="vm.accountDialog.data['name']">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-if="vm.accountDialog.type == 'create'"
                       ng-click="vm.accountDialog.store(vm.accountDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-if="vm.accountDialog.type == 'edit'"
                       ng-click="vm.accountDialog.update(vm.accountDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="vm.accountDialog.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
