<md-card>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>Assessments</th>
                <th md-column width="100">Alerts</th>
                <th md-column width="100">Count</th>
                <th md-column width="150">Progress</th>
                <th md-column width="160">Days Remaining</th>
                <th md-column>Results</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row
                ng-repeat="(assessmentKey, assessment) in vm.connection"
                ng-include="'./views/app/components/assessments/assessment/parts/table-row.partial.html'"></tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
