<td md-cell>
    <div layout="row" layout-align="start center">
        <span>{{assessment.name}}</span>
        <span style="width: 20px"></span>
        <a ng-click="vm.copyLinkConfirm()"
           ngclipboard
           data-clipboard-text="{{assessment.public_url}}"
           ng-if="assessment.public_url && assessment.account_id == $root.user.account_id">
            Copy Link
        </a>
    </div>
</td>
<td md-cell><span class="text-muted">{{ assessment.alert_count }}</span></td>
<td md-cell>{{assessment.completed_count}} / {{assessment.worker_count}}</td>
<td md-cell>
    <div layout="row" layout-align="start center">
        <div class="progress-bar" flex="70">
            <div class="fill"
                 ng-style="{'width': (assessment.completed_count / assessment.worker_count * 100) + '%'}"></div>
        </div>
        <span flex="10"></span>
        <span flex="20">
            {{assessment.completed_count / assessment.worker_count * 100 | number : 0}}%
        </span>
    </div>
</td>
<td md-cell>
    <span ng-if="assessment.days_remaining_count">{{assessment.days_remaining_count}}</span>
    <span ng-if="!assessment.days_remaining_count" class="text-muted">This assessment has ended</span>
</td>
<td md-cell>
    <div layout="row" layout-align="start center">
        <span ng-if="assessment.status != 10" class="text-muted">Results not ready</span>
        <a ng-if="assessment.status == 10" ng-click="vm.goToReporting(assessment)">View Results</a>
        <span style="width: 10px"></span>
        <span ng-if="assessmentKey == 'worker' && assessment.status == 10 && assessment.account_id == $root.user.account.id"
              ng-click="vm.getExport(assessment)">
            <md-tooltip md-direction="top">
                View additional text provided by assessment takers
            </md-tooltip>
            <md-icon class="fa" md-font-icon="fa-download"></md-icon>
        </span>
    </div>
</td>
