<md-dialog>
    <form name="questionsForm" ng-submit="vm.save(vm.dialogData.question)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="!vm.dialogData.id" flex>Add Question</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container>
                    <label>Section</label>
                    <md-select ng-model="vm.dialogData.question.category" name="questionsForm.section" required>
                        <md-option ng-repeat="category in vm.categories" value="{{category.id}}">
                            {{category.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Key</label>
                    <input type="text" ng-model="vm.dialogData.question.key" name="optionsForm.name" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Text</label>
                    <input type="text" ng-model="vm.dialogData.question.text" name="optionsForm.name" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Additional Text</label>
                    <input type="text" ng-model="vm.dialogData.question.additional_text" name="optionsForm.name" required>
                </md-input-container>

               <!--  <md-input-container flex>
                    <label>Sub section</label>
                    <input type="text" ng-model="vm.dialogData.sub_section" name="questionsForm.sub-section" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Text</label>
                    <input type="text" ng-model="vm.dialogData.text" name="questionsForm.question-text" required>
                </md-input-container>

                <md-input-container>
                    <label>Parent Question</label>
                    <md-select ng-model="vm.dialogData.parent_id">
                        <md-option value="0">None</md-option>
                        <md-option ng-repeat="question in vm.questions.data" value="{{question.id}}">
                            {{question.section_key}} - {{question.sub_section}} - {{question.text}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Option Group</label>
                    <md-select ng-model="vm.dialogData.options_group_id" name="questionsForm.optionsGroups" required>
                        <md-option ng-repeat="group in vm.option_groups" value="{{group.id}}">
                            {{group.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Order</label>
                    <input type="text" ng-model="vm.dialogData.order" name="questionsForm.order" required>
                </md-input-container> -->

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <!-- <md-button 
              class="md-secondary" 
              type="button" 
              ng-click="vm.remove(vm.dialogData.id)">
                Remove
            </md-button> -->
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
