<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <div layout="row" class="layout-fill-alt">
        <md-content layout="column" flex="grow">
            <md-card class="layout-fill-alt">
                <md-table-container ng-if="vm.alerts.length">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Assessment</th>
                            <th md-column>Date</th>
                            <th md-column>Description</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="alert in vm.alerts">
                            <td md-cell>{{alert.assessment.key}} - {{alert.assessment.name}}</td>
                            <td md-cell>{{alert.created_at | amDateFormat : 'DD-MM-YYYY' }}</td>
                            <td md-cell>{{alert.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </md-content>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
