@import "variables";

[ui-sref] {
  cursor: pointer;
}

md-input-container.small-input:not(.md-input-has-placeholder) {
  height: 16px;

  input {
    margin-top: -8px;
  }

  md-select {
    margin-top: -8px;
  }
}

md-input-container.bordered,
md-input-container.bordered.md-input-focused {
  input {
    border: 1px solid @lightGrey;
  }
}

md-input-container.bordered.md-input-focused input {
  padding-top: 0;
}

md-datepicker.md-datepicker-open .md-datepicker-button {
  margin-top: 0;
}

/**
 * MD Toolbars
 */
md-toolbar.md-default-theme:not(.md-menu-toolbar).md-brand, md-toolbar:not(.md-menu-toolbar).md-brand {
  background-color: @brandPrimary;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-error, md-toolbar:not(.md-menu-toolbar).md-error {
  background-color: @mdError;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-info, md-toolbar:not(.md-menu-toolbar).md-info {
  background-color: @mdInfo;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-success, md-toolbar:not(.md-menu-toolbar).md-success {
  background-color: @mdSucess;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-default, md-toolbar:not(.md-menu-toolbar).md-default {
  background-color: @mdDefault;
}

.md-button.md-hollow, .md-button.md-hollow:hover {
  background-color: transparent !important;
  border: 1px solid;
  color: inherit;
}

.md-button.md-brand, .md-button.md-brand:not([disabled]):hover {
  background-color: @brandPrimary;
  border-color: @brandPrimary;
  color: #FFF;
}

.md-button.md-brand.md-hollow, .md-button.md-brand.md-hollow:hover {
  color: @brandPrimary;
}

.md-button.md-error, .md-button.md-error:not([disabled]):hover {
  background-color: @mdError;
  border-color: @mdError;
  color: #FFF;
}

.md-button.md-error.md-hollow, .md-button.md-error.md-hollow:hover {
  color: @mdError;
}

.md-button.md-warning, .md-button.md-warning:not([disabled]):hover {
  background-color: @mdWarning;
  border-color: @mdWarning;
  color: #FFF;
}

.md-button.md-warning.md-hollow, .md-button.md-warning.md-hollow:hover {
  color: @mdWarning;
}
