@import "project";

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  @media (max-width: @screen-max-laptop) {
    .container {
      max-width: @screen-max-tablet;
    }
  }

  @media (max-width: @screen-max-tablet) {
    .container {
      max-width: @screen-max-mobile;
    }
  }

  @media (max-width: @screen-max-mobile) {
    .container {
      max-width: 100%;
    }
  }
}

body {
  .white-back {
    background-color: white;
  }

  &:not(.auth-screen) {
    [ui-view="main"] {
      padding-left: unit(@sidebarWidth, px);
      padding-top: unit(@headerHeight, px);
      width: ~"calc(100% - " unit(@sidebarWidth, px) ~")";
      height: ~"calc(100% - " unit(@headerHeight, px) ~")";
      background-color: #ececec;
    }

    [ui-view="main"].no-sidebar {
      width: 100%;
      padding-left: 0;
    }

    [ui-view="main"].no-header {
      min-height: 100%;
      padding-top: 0;
    }
  }

  @media (max-width: @tablet-large-max) {
    .container {
      max-width: 960px;
    }
  }

  @media (max-width: @tablet-small-max) {
    .container {
      max-width: 600px;
    }

    .white-back {
      margin-top: 0px;
    }

    h1 {
      font-size: 24px;
      line-height: 50px;
      text-align: center;
    }
  }

  @media (max-width: @mobile-large-max) {
    .container {
      max-width: 480px;
    }
  }

  @media (max-width: @mobile-small-max) {
    .container {
      max-width: 100%;
    }
  }
}
