@import "variables";

html, body {
  min-height: 100%;
}

body {
  font-family: @bodyFont;
  font-weight: normal;
  overflow-x: hidden;

  &.md-dialog-is-showing {
    overflow: visible !important;
  }

  &.auth-screen, &.admin-screen {
    margin-top: 0px;
  }

  &.admin-screen {
    background-color: #ebebeb;

    [ui-view="main"] {
      padding-top: unit(@headerHeight, px);
      width: ~"calc(100% - 220px)";
      margin-left: 220px;

      & > md-content {
        width: ~"calc(100% - 60px)";
        margin-left: 15px;
        background-color: white;
        box-shadow: 0px 0px 3px 2px rgba(163, 163, 163, 1);
      }
    }
  }
}

[ng-click], [ui-sref] {
  cursor: pointer;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #fff;
}

a {
  cursor: pointer;
  color: @brandPrimary;
  text-decoration: underline;
}

a.dark-link {
  text-decoration: none;
  color: @grey;
}

.text-muted {
  opacity: 0.6;
}

md-content {
  background-color: transparent;
}

md-content h1.page-title,
md-content h2.page-title,
md-content h3.page-title,
md-content h4.page-title,
md-content h5.page-title
md-content h6.page-title {
  text-transform: uppercase;
  margin: inherit;
}

.side-padding {
  padding-left: unit(@mdContentPadding, px);
  padding-right: unit(@mdContentPadding, px);
}

.side-margin {
  margin-left: unit(@mdContentPadding, px);
  margin-right: unit(@mdContentPadding, px);
}

.layout-fill-alt {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
  font-family: @titleFont;
  font-weight: normal;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 27px;
  line-height: 27px;
}

h2 {
  font-size: 22px;
  line-height: 22px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
}

p {
  font-weight: 300;
  font-size: 14px;
  color: @bodyText;
  line-height: 22px;
}

.main ul {
  list-style-type: square;

  li {
    color: @brandSecondary;
    padding: 10px 0;
    text-align: left;

    span {
      color: black;
    }
  }
}

[role="button"] {
  outline: none;
}

.auth-screen {

  .header, .footer {
    display: none;
  }
}

.admin-screen {

  .footer {
    display: none;
  }
}

.display-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.page-select {
  display: none !important;
}

.clickable {
  cursor: pointer;
  transition: @animate-fast;
  outline: none !important;

  &:hover {
    background-color: #eaeaea;
  }

  &:focus {
    outline: none !important;
  }
}

@media (max-width: @screen-max-tablet) {

  body {
    margin-top: 0px !important;
  }
}

@media (max-width: @tablet-small-max) {

  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  h2 {
    font-size: 24px;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    line-height: 18px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  [ui-view="main"] {
    padding: 0px !important;
    padding-top: 50px !important;
    width: 100% !important;
    margin-left: 0px !important;
    min-height: calc(100% - 50px);
  }
}

@media (max-width: @mobile-large-max) {
}

@media (max-width: @mobile-small-max) {
}
