@import "project";

.u-center{
    text-align: center;
}

.hidden{
	opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
}

/*======================== BUTTONS =======================*/

.md-button, .btn{
	margin: 10px 0;
	border-radius:25px;
	white-space: normal;
	font-weight: 600;
	font-size: 14px;
	line-height:30px;
	padding: 0 14px;
	transition:@animate-fast;
	border: 0;
	outline:none !important;

	span{
		font-weight: 600;
		font-size: 14px;
		line-height: 26px;
	}

	&.md-raised{
		box-shadow:none !important;
	}

	&.md-primary, &.btn-primary{
		background-color:@brandPrimary !important;

		&:hover{
			background-color:lighten(@brandPrimary, 10%) !important;
		}
	}

	&.md-secondary, &.btn-secondary{
		background-color:@brandSecondary !important;
	    color:white;

	    span{
	    	color:white;
	    }

		&:hover{
			background-color:lighten(@brandSecondary, 10%) !important;
		}
	}

	&.md-tertiary, &.btn-tertiary{
		background-color:transparent !important;
		border: 4px solid white;
	    box-sizing: border-box;
	    height: 50px;
	    line-height:22px;
	    color:white;

	    span{
	    	color:white;
	    }

		&:hover{
			color:@brandPrimary;
			background-color:white !important;
		}
	}

	&.btn-square, &.md-button{
		border-radius:0px;
	}
}



@media(max-width:@tablet-small-max){

	.md-button{
		margin: 0px;
	    line-height: 20px;

	    span{
	    	font-size:16px;
	    }
	}
}

/*======================== SLICK SLIDER =======================*/

.slick-arrow{
	display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    transition:@animate-fast;
    position: absolute;

    i{
    	font-size:25px;
    	line-height:50px;
    	text-align:center;
    	color:black;
    	transition:@animate-fast;
    }

    &::before{
    	display:none !important;
    }

    &:hover{
    	opacity:0.6;
    	background-color:@brandPrimary;
    	border: 1px solid white;

    	i{
    		color:white;
    	}
    }
}

.slick-prev{
	display: block;
    left: -60px;
    top: 45px;
}

.slick-next{
	display: block;
    right: -60px;
    top: 45px;
}

.slick-dots{
	position:static;
	margin-top:20px;

	li{
		padding:0px;
		margin:4px;
		transition:@animate-fast;

		button{
			width:8px;
			height:8px;
			background-color:transparent;
			border:2px solid @brandPrimary;
			border-radius:10px;
			transition:@animate-fast;

			&::before{
				display:none !important;
			}
		}

		&.slick-active{

			button{
				background-color:@brandPrimary;
			}
		}

		&:hover{
			opacity:0.5;
		}
	}
}


/*======================== MD DATA TABLE =======================*/

/*md-table-container{

	.center-column{
	    white-space: nowrap !important;
	    text-align: center !important;
	}

	.clickable{
		cursor:pointer;
		transition:@animate-fast;

		&:hover{
			background-color:#ececec;
		}
	}

	td{
		font-size: 15px !important;
		font-weight: 400 !important;
	}
}*/


/*======================== DIALOGS =======================*/

md-dialog{
    width: 100%;
    max-width: 600px;
}

.close-dialog{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background-color: #73C2AF;
    border-radius: 1000px;
    text-align: center;
    line-height: 19px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    font-size: 20px;
    color: white;
    cursor: pointer;
	transition:@animate-fast;
	font-family:@bodyFont;

	i{
		color:white;
		font-size:16px;
	}

	&:hover{
		opacity:0.8;
	}
}

.privacy
{
	margin: 100px 0;
}

.modal-content{
	background-color:@brandPrimary;
	border-radius:0px;
    box-shadow: none;
    border: 0px;
    text-align:center;

    span{
		font-weight:700;
		font-size: 18px;
		color: #FFFFFF;
		letter-spacing: 0px;
    }

    input, select{
	    font-size: 100%;
	    width: 100%;
	    height: 40px;
	    margin: 15px 0;
	    border: 0px;
	    padding: 10px;
	    line-height: 20px;
    	border-radius: 0px;
    }

    .btn{
    	border-radius: 0px;
    	margin-top: -20px;
    }

    .general-questions{
    	margin-top:15px;
    }

    #token{
    	margin-bottom: 15px;
    }

    .token-required .btn{
    	margin-top: 0px;
    }

    .info-required{
    	display: none;
    }

    .general-questions{
    	display: none;
    }

    .modal-footer{
    	display: none;
    }
}

.alternate-layout .modal-content{
	background-color:white;    
	border: 15px solid #73C2AF;
    padding: 15px;
	text-align:center;

	img{
		width:65px;
	}

	h5{
		font-family: @bodyFont;
		font-weight:700;
		font-size: 18px;
		color: #4A4A4A;
		letter-spacing: 0px;
		line-height: 24px;
	}

	ol{
		text-align:left;
    	padding-left: 30px;

		li{
			margin:20px 0;
		}
	}

	.btn{
		margin-top:10px;
	}
}

.modal-header{

	img{
		height:auto;
		width:80px;
		margin:0 auto;
		display:block;
	}
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-header, .modal-footer{
	border:0px;
}
