@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Roboto';

// Colours.
@lightGrey: #d3d3d3;
@grey: #474747;
@darkGrey: #282D38;
@bodyText: #000000;
@brandPrimary: #a7c410;
@brandSecondary: #a7c410;
@brandTertiary: #F5F5F5;
@backgroundGrey: #F1F1F1;

@mdSucess: #56ca1e;
@mdInfo: #93d4ff;
@mdError: #e6000f;
@mdDefault: #c0b6c3;
@mdWarning: #c3c161;

@bodyFont: ~"'Roboto', Arial, sans-serif";
@titleFont: ~"'din-condensed-web', Arial, sans-serif";
@subtitleFont: ~"'din-condensed-web', Arial, sans-serif";

// Layout
@bodySpace: 24;
@headerHeight: 90;
@sidebarWidth: 220;

@mdContentPadding: 8;

// Material Design Device Sizes
@tablet-large-max: 1170px;
@tablet-small-max: 960px;
@mobile-large-max: 600px;
@mobile-small-max: 480px;

// Bootstrap Device Sizes
@screen-max-laptop: 1200px;
@screen-max-tablet: 992px;
@screen-max-mobile: 767px;

// Animation
@animate-slow: all 1.0s ease-in-out;
@animate: all 0.5s ease-in-out;
@animate-fast: all 0.25s ease-in-out;
@animate-material: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), cubic-bezier(0.25, 0.8, 0.25, 1);
@fastDelay: 250ms;
