<md-dialog>
    <form name="dialog">
        <md-toolbar class="md-brand">
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="vm.userDialog.type == 'create'" flex="">Create User</h2>
                <h2 ng-if="vm.userDialog.type == 'edit'" flex="">Edit User</h2>
                <md-icon class="fa fa-times" ng-click="vm.userDialog.close()"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" required="" ng-model="vm.userDialog.data['name']">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" required="" ng-model="vm.userDialog.data['email']">
                </md-input-container>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" min="8" required="" ng-model="vm.userDialog.data['username']">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password"
                           min="8"
                           ng-required="vm.userDialog.type == 'create'"
                           ng-model="vm.userDialog.data['password']">
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input type="password"
                           min="8"
                           ng-required="vm.userDialog.type == 'create'"
                           ng-model="vm.userDialog.data['password_confirm']">
                </md-input-container>
                <md-input-container>
                    <label>Account</label>
                    <md-select ng-model="vm.userDialog.data['account_id']"
                               required=""
                               class="md-no-underline">
                        <md-option ng-repeat="account in vm.accounts" value="{{account.id}}">
                            {{account.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       ng-if="vm.userDialog.type == 'create'"
                       ng-click="vm.userDialog.store(vm.userDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-if="vm.userDialog.type == 'edit'"
                       ng-click="vm.userDialog.update(vm.userDialog.data)">
                Save
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="vm.userDialog.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
