<md-dialog>
    <form ng-submit="vm.saveEdit(vm.selectedTranslation)">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Edit-translation-locale</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>locale</label>
                    <md-select ng-model="vm.selectedTranslation.locale" name="questionsForm.section" required>
                        <md-option ng-repeat="locale in vm.locale" value="{{locale}}">
                            {{locale}}
                        </md-option>
                    </md-select>
                </md-input-container>
             </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" type="submit">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
