<md-content class="md-padding layout-fill-alt" layout="column">
    <div layout="row" layout-align="center center" class="side-padding">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button></md-button>
    </div>
    <assessments-search flex="nogrow" assessments="vm.assessments"></assessments-search>
    <md-card class="layout-fill-alt">
        <md-button class="side-margin md-raised"
                   ng-if="!vm.assessments.length">
            No assessments found
        </md-button>
        <md-table-container ng-if="vm.assessments.length">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column width="150">Assessment ID</th>
                    <th md-column>Assessment Name</th>
                    <th md-column>Company Name</th>
                    <th md-column>Start Date</th>
                    <th md-column>End Date</th>
                    <th md-column>Status</th>
                    <th md-column width="200">Progress</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="assessment in vm.assessments"
                    ui-sref="app.assessments-assessment({assessmentID: assessment.id})">
                    <td md-cell>{{assessment.key}}</td>
                    <td md-cell>{{assessment.name}}</td>
                    <td md-cell>{{assessment.account.name}}</td>
                    <td md-cell>{{assessment.start_date | date:'dd-MM-yyyy' }}</td>
                    <td md-cell>{{assessment.end_date | date:'dd-MM-yyyy' }}</td>
                    <td md-cell>
                        <span ng-if="assessment.days_until_count && assessment.days_remaining_count">Starts in {{assessment.days_until_count}} days</span>
                        <span ng-if="assessment.days_remaining_count && ssessment.days_remaining_count!=1 && !assessment.days_until_count">Ends in {{assessment.days_remaining_count}} days</span>
                        <span ng-if="assessment.days_remaining_count && ssessment.days_remaining_count==1 && !assessment.days_until_count">Ends today</span>
                        <span ng-if="!assessment.days_until_count && !assessment.days_remaining_count"
                              class="text-muted">Assessment ended</span>
                    </td>
                    <td md-cell>
                        <div layout="row" layout-align="start center">
                            <div class="progress-bar" flex="70">
                                <div class="fill"
                                     ng-style="{'width': (assessment.completed_count / assessment.worker_count * 100) + '%'}"></div>
                            </div>
                            <span flex="10"></span>
                            <span flex="20">
                                {{assessment.completed_count / assessment.worker_count * 100 | number : 0}}%
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
