<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title alert-icon">{{$root.page.name}}</h1>
        <span flex=""></span>
        <md-button class="md-primary md-raised" ng-click="vm.questionDialog.create()">
            Add Question
        </md-button>
    </div>
    <div class="layout-fill-alt" layout="row">
        <md-card flex="100">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <!--<th md-column>Key</th>-->
                        <th md-column>Question Set</th>
                        <th md-column>Category</th>
                        <th md-column>Order</th>
                        <th md-column>Text</th>
                        <th md-column>Created At</th>
                        <th md-column width="80px"></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="question in vm.questions">
                        <!--<td md-cell>{{question.key}}</td>-->
                        <td md-cell>{{question.question_set.name}}</td>
                        <td md-cell>
                            <span ng-if="question.category">{{question.category.name}}</span>
                            <span ng-if="!question.category" class="text-muted">No category assigned</span>
                        </td>
                        <td md-cell>{{question.order}}</td>
                        <td md-cell>{{question.text}}</td>
                        <td md-cell>{{question.created_at | amDateFormat : 'DD-MM-YYYY'}}</td>
                        <td md-cell>
                            <md-icon ng-click="vm.questionDialog.edit(question)"
                                     class="fa"
                                     md-font-icon="fa-pencil"></md-icon>
                            <md-icon ng-click="vm.questionDialog.delete(question)"
                                     class="fa"
                                     md-font-icon="fa-times"></md-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
