<md-content class="md-padding" layout-fill="" layout="column">
    <div layout="row" layout-align="center center" class="side-padding" flex="noshrink">
        <h1 class="page-title">{{$root.page.name}}</h1>
        <span flex=""></span>
        <div ng-include="'./views/app/components/reporting/filter/filter-selected-assessments.partial.html'"></div>
        <div ng-include="'./views/app/components/reporting/filter/filter-buttons.partial.html'"></div>
    </div>
    <reporting-filter></reporting-filter>
    <div layout="row" layout-wrap="" flex="noshrink">
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-gender.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-age.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-employment-type.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-job-position.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-job-role.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-shift-type.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-job-tenure.partial.html'">
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="66">
            <md-card flex="grow">
                <md-card-content flex="grow"
                        ng-include="'./views/app/components/reporting/demographics/demographics-ethnicity.partial.html'">
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-include="'./views/app/pages/footer/footer.page.html'"></div>
</md-content>
