<h2>Gender</h2>
<div layout="row" layout-padding="" layout-fill="" ng-show="vm.showCharts">
    <div flex="25" layout="column" layout-align="center start">
        <img src="img/reporting/male.svg" height="150"></img>
    </div>
    <div flex="25" layout="column" layout-align="center start">
        <span>Male</span><br>
        <span class="gender-percentage male">{{vm.chartList.gender.male_percentage}}%</span>
    </div>
    <div flex="25" layout="column" layout-align="center start">
        <img src="img/reporting/female.svg" height="150"></img>
    </div>
    <div flex="25" layout="column" layout-align="center start">
        <span>Female</span><br>
        <span class="gender-percentage female">{{vm.chartList.gender.female_percentage}}%</span>
    </div>
</div>
