<md-dialog>
    <form name="questionsForm" ng-submit="vm.save(vm.dialogData.question)">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="space-between">
                <h2 ng-if="!vm.dialogData.id" flex>Add Question</h2>
                <md-icon style="cursor:pointer;" class="fa fa-times" ng-click="vm.close()"></md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container>
                    <label>locale</label>
                    <md-select ng-model="vm.dialogData.question.locale" name="questionsForm.section" required>
                        <md-option ng-repeat="locale in vm.locale" value="{{locale}}">
                            {{locale}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Text</label>
                    <input type="text" ng-model="vm.dialogData.question.text" name="optionsForm.name" required>
                </md-input-container>

                <md-input-container flex>
                    <label>Additional Text</label>
                    <input type="text" ng-model="vm.dialogData.question.additional_text" name="optionsForm.name" required>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between">
            <span flex></span>
            <md-button 
              class="md-primary md-raised" 
              type="submit">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
