<md-card>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>Assessment ID</th>
                <th md-column>Company Name</th>
                <th md-column>Start Date</th>
                <th md-column>End Date</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row>
                <td md-cell>{{vm.assessment.key}}</td>
                <td md-cell>{{vm.assessment.account.name}}</td>
                <td md-cell>{{vm.assessment.start_date | date:'dd-MM-yyyy' }}</td>
                <td md-cell>{{vm.assessment.end_date | date:'dd-MM-yyyy' }}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
