<md-content class="md-padding assessment-wrapper">
    <div class="md-margin" ng-if="vm.connection.submitted">
        <md-toolbar class="md-error">
            <div class="md-toolbar-tools" layout="row">
                <p class="white-font">Parts of this Employer Assessment have been saved. Please continue to complete and submit final response by your assessment end date.</p>
                <span flex=""></span>
                <md-button class="md-icon-button fa fa-warning"></md-button>
            </div>
        </md-toolbar>
    </div>
    <div class="md-margin" ng-if="vm.submitted">
        <md-toolbar class="md-success">
            <div class="md-toolbar-tools" layout="row">
                <span>Thank you for submitting your assessment. If you feel you have made a mistake or want to
                    change some of your answers <a ui-sref="app.assessment-take-employer"
                                                   ui-sref-opts="{reload: true}"
                                                   style="text-decoration: underline">please click here</a>.</span>
                <span flex=""></span>
                <md-button class="md-icon-button fa fa-check"></md-button>
            </div>
        </md-toolbar>
    </div>
    <div ng-if="!vm.submitted">
        <form>
            <div ng-show="vm.assessmentPage == 1"
                 ng-include="'./views/app/components/assessments/employer/employer-page-one.partial.html'"></div>
            <div ng-show="vm.assessmentPage == 2"
                 ng-include="'./views/app/components/assessments/employer/employer-page-two.partial.html'"></div>
        </form>
    </div>
</md-content>
