<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools" layout="row">
            <span>Employer Metrics Assessment</span>
        </div>
    </md-toolbar>
    <div class="lower-p-pad" layout="column" layout-padding>
        <p>Welcome to the Responsible Trade Worldwide Employer Metrics Assessment.</p>
        <p>Please complete each section of the assessment by the end date of your Working Conditions Assessment.</p>
        <p>The assessment should take no more than 2 hours to complete, this includes preparation time. If you are
            unable to complete the assessment in one sitting, please click the 'Save' button at the bottom of the
            screen, and this will save your progress so far. Please ensure that each section of the assessment is
            completed by the end date of your Working Conditions Assessment.</p>
        <p>In addition to the Employer Metrics Assessment, please ensure that 70% of your workforce complete the
            Worker Satisfaction Assessment in order to successfully complete the assessment process.</p>
        <p>In order for the overall assessment to be a true reflection of what it’s really like to work at your
            organisation, please ensure the workforce and yourself provide open and honest responses to all of the
            questions.</p>
        <p>If you have any technical issues while completing the survey, please contact an administrator.</p>
    </div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Communication</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'information-communication-policy'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'multi-language-policy'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'english-training'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>HR</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'colleagues-within-hr-role'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'dedicated-to-training'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'hr-strategy-in-place'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Workplace Conflict & Culture</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'grievances-raised-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'grievances-upheld-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'grievance-procedure'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'employment-tribunals-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'encourage-mediation'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'mediations-completed-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'equality-diversity-training'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'equality-diversity-training-to-all-workers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'whistleblowing-policy'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Engagement</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'carry-out-annual-staff-engagement-survey'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Performance</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'performance-appraisals-every-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'performance-capability-policy-process'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'disciplinary-cases-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'link-performance-to-pay'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean-with-partially-option.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Absence</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'sickness-unauthorised-absence-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Turnover</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'people-left-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'management-roles-recruited-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'production-roles-recruited-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'operational-roles-recruited-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Training</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'total-spend-external-training-employees-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'total-spend-external-training-agency-workers-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'recorded-internal-training-sessions-employees-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'recorder-internal-training-sessions-agency-workers-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Agency Costs</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'cost-labour-provider-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'agency-workers-used-in-last-year'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
</section>
<div layout="row" layout-padding>
    <span flex=""></span>
    <md-button class="md-raised md-primary" ng-click="vm.changePage(1)">
        <span>Previous</span>
    </md-button>
    <span></span>
    <md-button class="md-raised md-primary" ng-click="vm.saveForm(vm.form)">
        <span>Save and Exit</span>
    </md-button>
    <span></span>
    <md-button class="md-raised md-primary" ng-click="vm.saveFormConfirm(vm.form)">
        <span>Submit</span>
    </md-button>
</div>
