body.user.assessment.employer {
  height: auto;
  .lower-p-pad {
    p {
      margin: 0;
    }
  }
  .white-font {
    color: #fff;
  }
  .assessment-wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }
  .custom-headline {
    background-color: transparent;
    text-align: center;
    margin: 20px 0;
  }
  h1.brand-primary {
    color: #a9c711;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  .fa.fa-info {
    color: #a9c711;
  }
  span.ng-binding {
    font-size: 14px;
    line-height: 22px;
  }
}
