<section class=" md-margin text-center">
    <md-toolbar class="md-default custom-headline text-center">
        <div class="md-toolbar-tools layout-wrap" layout="row">
            <h1 class="brand-primary">Employer Metrics Assessment - Demographic Details</h1>
            <p>Welcome to the Responsible Trade Worldwide Employer Metrics Assessment. Please complete the
                following fields, providing demographic information about your organisation. If you have any
                technical issues while completing the survey, please contact an administrator.</p>
        </div>
    </md-toolbar>
    <div layout="row" layout-padding>

    </div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Organisation Details</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'directly-employed-workers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'full-time-employed-workers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'use-of-labour'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'average-percentage-of-labour-agency-workers-ftse'}]"
         ng-show="vm.form['use-of-labour'] == '1'"
         ng-include="'./views/app/components/assessments/employer/form-element-boolean.partial.html'"></div>
</section>
<section class="md-whiteframe-1dp white-back md-margin">
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <span>Employee Demographics</span>
        </div>
    </md-toolbar>
    <div ng-repeat="params in [{questionKey: 'male-workers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'female-workers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>


    <div ng-repeat="params in [{questionKey: 'line-managers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'middle-managers'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'board-directors'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>


    <div ng-repeat="params in [{questionKey: 'first-languages'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'hr-department'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>

    <div layout="row"
         layout-margin
         layout-fill
         layout-padding>
        <span>Number of employees who are:</span>
    </div>

    <div ng-repeat="params in [{questionKey: 'white-british'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'white-irish'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'other-white-background'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'white-and-black-caribbean'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'white-and-black-african'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'white-and-asian'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'other-mixed-background'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'indian'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'pakistani'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'bangladeshi'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'chinese'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'other-asian-background'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'black-caribbean'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'black-african'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'other-black-background'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
    <div ng-repeat="params in [{questionKey: 'other-ethnic-group'}]"
         ng-include="'./views/app/components/assessments/employer/form-element-number.partial.html'"></div>
</section>
<div layout="row" layout-padding>
    <span flex=""></span>
    <md-button class="md-raised md-primary" ng-click="vm.changePage(2)">
        <span>Next</span>
    </md-button>
    <span></span>
    <md-button class="md-raised md-primary" ng-click="vm.saveForm(vm.form)">
        <span>Save and Exit</span>
    </md-button>
</div>
