<div layout="row"
     layout-margin
     layout-padding
     layout-fill>
    <span flex="50">{{vm.findQuestionTextFromQuestionKey(params.questionKey)}}</span>
    <md-input-container flex="50">
        <input required
               type="number"
               aria-label="{{vm.findQuestionTextFromQuestionKey(params.questionKey)}}"
               min="0"
               ng-model="vm.form[params.questionKey]">
    </md-input-container>
</div>
