<div layout="row"
     layout-margin
     layout-padding
     layout-fill>
    <span flex="50">{{vm.findQuestionTextFromQuestionKey(params.questionKey)}}</span>
    <md-radio-group ng-model="vm.form[params.questionKey]" layout="row">
        <md-radio-button flex
                         value="1"
                         class="md-primary"
                         layout="row"
                         layout-align="start center">
            Yes
        </md-radio-button>
        <md-radio-button flex
                         value="0"
                         class="md-primary"
                         layout="row"
                         layout-align="start center">
            No
        </md-radio-button>
    </md-radio-group>
</div>
