@import "./angular/material/project";

.view-loading-cover{
    width: calc(~"100% - 220px");
    height: calc(~"100% - 80px");
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #F1F1F1;
    z-index: 25;
    opacity: 1;
    visibility: visible;

    .sk-folding-cube{
        position: absolute;
        top:50%;
        left:50%;
        transform: rotateZ(45deg) translate(-140%, -70%);
    }

    .sk-folding-cube .sk-cube:before{
        background-color:white;
    }

    &.hidden{
        opacity: 0;
        visibility: hidden;
    }
}

.view-loading-cover.no-sidebar {
    width: 100%;
}

.view-loading-cover.no-header {
    height: 100%;
}

.site-loading-cover{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:@grey;
    position:fixed;
    transition:@animate-fast;
    z-index:30;

    .sk-wave{
        transform: scale(2) ;
        position:absolute;
        top:calc(~"50% - 20px");
        left:calc(~"50% - 25px");
        margin:0px;
    }

    .sk-rect{
        background-color:@brandSecondary;
    }
}

@media(max-width:@tablet-small-max){
    .view-loading-cover{
        width:100%;
        height: calc(~"100% - 50px");
    }
}
