<ul>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-assessments">
            Assessments
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-summary" ng-disabled="$localStorage.reporting.assessments.length==0">
            Summary
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-demographics" ng-disabled="$localStorage.reporting.assessments.length==0">
            Demographics
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-detail" ng-disabled="$localStorage.reporting.assessments.length==0">
            Detail
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-alerts" ng-disabled="$localStorage.reporting.assessments.length==0">
            Alerts
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-metrics" ng-disabled="$localStorage.reporting.assessments.length==0">
            Metrics
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-benchmark" ng-disabled="$localStorage.reporting.assessments.length==0">
            Benchmark
        </md-button>
    </li>
    <li ui-sref-active="current-view">
        <md-button ui-sref="app.reporting-comparative" ng-disabled="$localStorage.reporting.assessments.length==0">
            Comparative
        </md-button>
    </li>
</ul>
